<div class="page-container">
    <mat-card id="card">
        <mat-card-title>Your Personal Data</mat-card-title>
        <mat-card-content>
            First Name: 
        </mat-card-content>
        <mat-card-content>
            Last Name:
        </mat-card-content>
        <mat-card-content>
            Date of Birth:
        </mat-card-content>
        <mat-card-content>
            Email:
            <button mat-flat-button id="Submit" routerLink="/user-data-page">Change</button>
        </mat-card-content>
        <!-- <mat-card-content>
            <button mat-flat-button id="Submit" routerLink="/user-data-page">Edit</button>
        </mat-card-content> -->
        <mat-card-content>
            Phone Number:
            <button mat-flat-button id="Submit" routerLink="/user-data-page">Change</button>
        </mat-card-content>
        <!-- <mat-card-content>
            <button mat-flat-button id="Submit" routerLink="/user-data-page">Edit</button>
        </mat-card-content> -->
        <mat-card-content>
            Gender Identity:
            <button mat-flat-button id="Submit" routerLink="/user-data-page">Change</button>
        </mat-card-content>
        <!-- <mat-card-content>
            <button mat-flat-button id="Submit" routerLink="/user-data-page">Edit</button>
        </mat-card-content> -->
    </mat-card>
</div>
