<div class="page-container">
    <mat-card id="card">
        <mat-card-title>Your Personal Data</mat-card-title>
        <mat-card-content>
            First Name:
        </mat-card-content>
        <mat-card-content>
            Last Name:
        </mat-card-content>
        <mat-card-content>
            Date of Birth:
        </mat-card-content>
        <mat-card-content>
            Gender Identity:
        </mat-card-content>
        <mat-card-content>
            Street Address:
        </mat-card-content>
        <mat-card-content>
            City:
        </mat-card-content>
        <mat-card-content>
            Zip Code:
        </mat-card-content>
        <mat-card-content>
            Country:
        </mat-card-content>
        <mat-card-content>
            State:
        </mat-card-content>
        <mat-card-content>
            Email:
        </mat-card-content>
        <mat-card-content>
            Phone Number:
        </mat-card-content>

        <button mat-flat-button id="Submit" routerLink="/user-data-edit-page">Edit Personal Data</button>
    </mat-card>
</div>