<mat-card id="sign-in-card">
  <mat-card-header>
    <mat-card-title>Sign In</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="form-container">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput [(ngModel)]="email" placeholder="Email" type="email" required>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput [(ngModel)]="password" placeholder="Password" type="password" required>
      </mat-form-field>
      <button mat-flat-button color=primary (click)="loginClick()" type="submit">
        Sign In
      </button>
    </div>
  </mat-card-content>
</mat-card>
