@import 'src/virtual-np-theme.scss';

.form-container {
  flex-direction: column;
}

#header {
  display:flex;
  justify-content: space-between;
  width:100%;
}

#role-selector {
  margin-bottom: 1rem;
}


.form-container > * {
  width: 100%;
}
#sign-in-card {
  max-width: 25rem;
  border-radius:0px;
  box-shadow:none;
  margin:1.5rem;
}
