body {
    margin: 0;
    
}

header {
    background: cornflowerblue;
    padding: 15px 15px 0 15px;
}

header nav {
    position: sticky;
}

header nav h1 {
    margin: 0;
    display: inline;
}

header nav h1 a {
    color: black;
    text-decoration: none;
}

nav ul {
    margin: 0;
    padding: 0 0 0 15px;
    display: inline;
}

nav ul li {
    background: gray;
    color: white;
    display: inline-block;
    list-style-type: none;
    padding: 5px 15px;
    margin-right: 10px;
}

nav ul #login {
    margin-left: 85%;
    margin-right: 5%;
}

nav ul li a {
    color: white;
}




.background-img {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 100%;
}

body div.centered-div {
    display: block;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 50%;
    
}

#first-picture {
    max-width: 100%;
    height: auto;
}

#first-div {
    background: yellow;
    max-width: max-content;
    
}