body {
    margin: 0;
}

header {
    background: cornflowerblue;
    padding: 15px 15px 0 15px;
}



header nav h1 {
    margin: 0;
    display: inline;
}

header nav h1 a {
    color: black;
    text-decoration: none;
}

nav ul {
    margin: 0;
    padding: 0 0 0 15px;
    display: inline;
}

nav ul li {
    background: gray;
    color: white;
    display: inline-block;
    list-style-type: none;
    padding: 5px 15px;
    margin-right: 10px;
}

nav ul #login {
    margin-left: 80%;
}

nav ul li a {
    color: white;
}

.background-img-1    {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 100%;
}

body div.centered-div {
    display: block;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 50%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    text-align: center;
}

#first-img {
    max-width: 100%;
    height: auto;
}

#first-div {
    background: lightblue;
    max-width: max-content;
}

body .footer-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    
    background: cornflowerblue;
    margin: 0;
}

footer .column-left {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    /*margin-left: 1%; */
    padding: 10px 0 10px 1%;
    
    background-color: greenyellow;
}

footer .column-middle {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    
    padding: 10px 0 10px 0;
    background-color: darkorchid;
    
}

footer .column-right {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    
}