@import 'src/virtual-np-theme.scss';
:host {
  grid-row: 1;
  grid-column: 1 / -1;
  height:fit-content;
}

#special-button {
  margin-left:0.75rem;
}
#logo {
  height: 2.5rem;
  display:inline;
  margin-top:0.2em;
  margin-bottom:0.2em;
  margin-right:0.7rem;
}
#brand {
  display:inline;
  // font-style: italic;
  font-weight: 700;
  font-size: 1.0rem;
}
#header-container {
  z-index:1;
  // position:fixed;
  width:100%
}

#spacer {
  flex: 1 1 auto;
}

#mobile-navigation {
  display:none;
}

@media only screen and (max-width: 600px) {
  #mobile-navigation {
    display:block;
  }
  .page-links {
    display:none;
  }
}

.page-links >* {
  margin-left:0.25rem;
}


.dropdown-link {
  width:100%;
  text-align:center;
  padding-top:1rem;
  padding-bottom:1rem;
  border-bottom-width: 1px;
  border-bottom-style:solid;
  border-bottom-color: mat-color($virtual-np-primary,600);
  cursor:pointer;
}

.dropdown-link a {
  text-decoration: none;
  font-size: 1rem;
  color: $virtual-np-background;
  // background-color: mat-color($virtual-np-primary, 600);
  // padding:.25rem;
  // border-radius:.25rem;
}

#dropdown-menu {
  display:flex;
  flex-direction:column;
  background-color: mat-color($virtual-np-primary,700);
}
