@import 'src/virtual-np-theme.scss';
.banner {
  display:flex;
  justify-content:flex-end;
  flex-direction: column;
  height:15rem;
  padding: 2rem;
  // color: white;
  background-color: mat-color($virtual-np-primary);
  color: map-get(map-get($virtual-np-theme, background), background);
}
