.page-container {
  min-height:100%;
  display: flex;
  justify-content: center; /* center items vertically, in this case */
  align-items: center;     /* center items horizontally, in this case */
}
 @media only screen and (max-width: 600px) {
  .page-container {
    justify-content:normal;
    flex-flow: column nowrap;
  }
 }
