<mat-card id="sign-up-card">
  <mat-card-header>
    <mat-card-title>Sign Up</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="form-container" (keyup.enter)="registerClick()">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput [(ngModel)]="email" placeholder="Email" type="email" required>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>First Name</mat-label>
        <input matInput [(ngModel)]="firstName" placeholder="First Name" type="text" required>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Last Name</mat-label>
        <input matInput [(ngModel)]="lastName" placeholder="Last Name" type="text" required>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput [(ngModel)]="password" placeholder="Password" type="password" (change) = "passwordMatch()"required>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Confirm Password</mat-label>
        <input matInput [(ngModel)]="passwordC" placeholder="Confirm Password" type="password" (change) = "passwordMatch()" required>
        <span class="error" *ngIf="matched"> password dose not match </span>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Confirm Password</mat-label>
        <input matInput [(ngModel)]="rePassword" placeholder="Confirm Password" type="password" required>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Sex</mat-label>
        <mat-select [(ngModel)]="gender" placeholder="Gender" type="text" required>
          <mat-option>None</mat-option>
          <mat-option *ngFor="let gender of genders" [value]="gender">{{gender}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Age</mat-label>
        <mat-select [(ngModel)]="age" placeholder="Age" type="text" required>
          <mat-option>None</mat-option>
          <mat-option *ngFor="let age of ages" [value]="age">{{age}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <input matInput [matDatepicker]="myDatepicker" placeholder="birth date">
        <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
        <mat-datepicker #myDatepicker></mat-datepicker>
      </mat-form-field>
      <button mat-flat-button color=primary (click)="registerClick()" type="submit">
        Sign In
      </button>
    </div>
  </mat-card-content>
</mat-card>
