<mat-toolbar>
  <button mat-button color=primary routerLink="/" routerLinkActive="active">
    <div id="brand">Virtual NP</div>
  </button>
  <span id="spacer"></span>
  <div id="page-links">
    <button mat-button color=primary routerLink="/sign-up" routerLinkActive="active">
      Sign Up
    </button>
    <button mat-flat-button color=primary routerLink="/" routerLinkActive="active">
      Sign In
    </button>
  </div>
  <button id="mobile-navigation" color=primary mat-icon-button (click)="onToggleSidenav()">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>
