@import 'src/virtual-np-theme.scss';
@import '../pages.scss';

:host {
  grid-row: 2;
  grid-column: 1 / -1;
}

.page-container {
  background-color: mat-color($virtual-np-primary);
}

#submit {
  width:100%;
  background-color: mat-color($virtual-np-primary);
  color: white;
}
#card {
  border-radius:0px;
  box-shadow:none;
  margin:1.5rem;
  max-width: 600px;
  width: 80%;
}
@media only screen and (max-width: 600px) {
  .page-container {
    justify-content:normal;
    flex-flow: column nowrap;
  }
 }
