<div  class="page-container">
  <div id="landing-grid">
    <mat-card id="landing-card">
      <div class="content">
        <i class="material-icons icon">person</i>
        <h2>View My Data</h2>
      </div>
    </mat-card>
    <mat-card id="landing-card" routerLink='/visit-page'>
      <div class="content">
        <i class="material-icons icon">event_available</i>
        <h2>Start a Visit</h2>
      </div>
    </mat-card>
    <mat-card id="landing-card">
      <div class="content">
        <i class="material-icons icon">calendar_today</i>
        <h2>View my Calendar</h2>
      </div>
    </mat-card>
  </div>
</div>
