@import '../pages.scss';
@import 'src/virtual-np-theme.scss';
:host {
  grid-row: 2;
  grid-column: 1 / -1;
}

.page-container {
  background-color: mat-color($virtual-np-primary);
  flex-direction:row;
}

@media only screen and (max-width: 1000px) { .page-container {
    flex-direction:column;
  }
  #landing-card {
    margin:0rem;
    margin-top:.5rem;
    margin-bottom:.5rem;
  }
}

#landing-card {
  max-width: 25rem;
  width:75%;
  height: 7rem;
  border-radius:0px;
  box-shadow:none;
  margin:1.5rem;
}
