.page-container {
  min-height:100%;
  display: flex;
  justify-content: center; /* center items vertically, in this case */
  align-items: center;     /* center items horizontally, in this case */
  flex-direction: column;
}