// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$virtual-np-primary: mat-palette($mat-indigo, 500, 200, 800);
$virtual-np-accent: mat-palette($mat-cyan, 600, 300, 900);

// The warn palette is optional (defaults to red).
$virtual-np-warn: mat-palette($mat-red);




// $virtual-np-forground: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$virtual-np-theme: mat-light-theme($virtual-np-primary, $virtual-np-accent, $virtual-np-warn);

$virtual-np-background:map-get(map-get($virtual-np-theme, background), background);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($virtual-np-theme);


